.button-primary{
    width: 180px;
    height: 64px;
    border: 1px solid transparent;
    border-radius: 8px;
    color: white;
    background-color: #FF900E;
    font-size: 18px;
    font-weight: bold;

}

.button-secondary{
    width: 342px;
    height: 200px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #FF900E;
    position: relative;
    bottom: 100px;
    right: 20px;
}

.button-secondary h1{
        display: block;
        font-size: 65px;
        font-weight: 900;
        color: white;
}

.button-secondary span{
    display: block;
}

@media screen and (max-width: 576px){
    .button-secondary{
        width: auto;
        height: auto;
        border: 1px solid transparent;
        border-radius: 8px;
        background-color: #FF900E;
        position: static;
        margin: auto auto;

    }

    .button-secondary h1{
        display: block;
        font-size: 25px;
        font-weight: 400;
        color: white;
    }

    .button-secondary span{
    display: block;
    }
}