@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* font-family: 'Work Sans', sans-serif; */
/* common styles */

body{
    font-family: 'Work Sans' , sans-serif;
    /* margin: auto 240px; */
}

header{
    /* background-image: url("../images/banner.png"); */
    height:auto;
    width: 1920px;
    background-color: #FF900E1A;
    /* background-repeat: no-repeat; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto 228px;
    
    /* border: 1px solid #333; */
}

.brand > h1 {
    font-weight: 700;
    font-size: 45px;
}

.menu > ul{
    display: flex;
    gap: 30px;
    /* justify-content: space-around;
    align-items: center; */
}

.menu > ul li{
    list-style-type: none;
    font-size: 18px;
}

.hero-motto{
    width: 1440px;
    height: 700px;
    margin: 50px auto;
    text-align: center;
    margin-top: 205px;
    font-size: 64px;
}

.hero-motto p{
    font-size: 18px;
    font-weight: 400;
    
}


.banner-img{
    width: 1440px;
    height: 700px;
    margin: 85px auto 85px auto;
}

@media screen and (max-width: 576px){

    header{
        width: 100%;
    }

    nav .brand{
        margin: auto auto;
    }

    nav .menu {
        margin: auto auto;
    }

    nav{
        display: grid;
        grid-template-rows: repeat(2,1fr);
        /* display: flex;
        flex-direction: column;
        justify-content: flex-start; */
        margin: auto auto;
        text-align: center;
    }

    .parent-div{
        display: flex;;
        flex-direction: column;
        margin: auto auto;
        justify-content: center;
        align-items: center;
    }

    .parent-div > .hero-motto{
        width: 80%;
        height: auto;
        margin: 10px auto;
        /* font-size: 20rem; */
    }

    .hero-motto h1{
        font-size: 25px;
    }

    .hero-motto p{
        font-size: 10px;
    }

    .banner-img{
        height:fit-content;
        margin: auto auto;
    }

    .banner-img img{
        width: 50%;
        max-width: 350px;
        margin: 10px 20px 10px 15px;
        display: block;
    }
    
}

/* main section css  */

.quad{
    display: flex;
    /* justify-content: space-evenly; */
    gap: 76px;
    margin: 85px 301px;
}

.quad-images{
    display: grid;
    width: fit-content;
    grid-template-columns: auto auto;
    gap: 24px;
    
}

.quad-img{
    width: 342px;
    height: 342px;
    border-radius: 8px;
}

.quad-txt > h1{
        width: 468px;
        font-size: 45px;
        font-weight: 500;
}

.quad-txt > p{
    width: 537px;
    font-size: 20px;
    font-weight: 400;
}

@media screen and (max-width:576px) {
    .quad{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin: auto auto;
    }
    
    .quad-images{
        display: flex;
        flex-direction: column;
        width: fit-content;
        /* grid-template-columns: auto; */
        gap: 24px;
    }
    
    .quad-txt > h1{
        width: 100%;
        font-size: 27px;
        font-weight: 500;
    }
    
    .quad-txt > p{
        width: 100%;
        font-size: 16px;
        font-weight: 400;
    }
    
}


/* duo css */

.duo{
    display: flex;
    gap: 54px;
    align-items: center;
    margin: 130px 240px;
}

.duo-txt h1{
    width: 468px;
    font-size: 45px;
    font-weight: bolder;
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.duo-txt p{
    width: 586px;
    font-size: 16px;
    font-weight: 400;

}

.duo-txt-info{
    width: 586px;
    padding: 30px;
    border: 1px solid transparent;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 241, 250, 0.1), 0 6px 20px 0 rgba(107, 107, 107, 0.1);

}

.duo-img{
    width: 800px;
    height: 1059px;
    border-radius: 8px;
}

.duo-img img{
    width: 708px;
    height: 982px;
    border: 2px solid transparent;
    border-radius: 8px;
    margin: auto auto;
}

@media screen and (max-width: 576px) {

    .duo{
        display: flex;
        flex-direction: column-reverse;
        gap: 54px;
        align-items: center;
        margin: 80px auto;
    }
    
    .duo-txt h1{
        width: 100%;
        font-size: 27px;
        font-weight: bolder;
        border-left: 5px solid #FF900E;
        padding-left: 7px;
    }

    .duo-txt p{
        width: 100%;
        font-size: 14px;
        font-weight: 400;
    
    }

    .duo-txt-info{
        width: 90%;
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 8px;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(255, 241, 250, 0.1), 0 6px 20px 0 rgba(107, 107, 107, 0.1);
    
    }

    .duo-img{
        width: 100%;
        max-width: 350px;
        border-radius: 8px;
        /* display: block; */
    }

    .duo-img img{
        width: 100%;
        max-width: 330px;
        height: 80%;
        border: 2px solid transparent;
        border-radius: 8px;
        margin: auto auto;
    }

    
    
}



/* Some fact section css  */

.fact{
   
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 150px 240px;
    
}


.fact-txt > h1{
    font-size: 45px;
    font-weight: 700;
}

.fact-txt > p {
    width: 542px;
    font-size: 16px;
    font-weight: 400;
}

.fact-boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 124.17px;
    margin: 100px 240px;
}

.outer-box{
    width: 241.83px;
    height: 241.83px;
    border-radius: 8px;
    border: 1px solid #FF900E;
    transition: box-shadow .3s;
}

.outer-box:hover{
    box-shadow: 10px 10px #333;
}

.inner-box{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    /* justify-content: center; */
    align-items: center;
    width: 169px;
    height: 136.22px;
    margin: 45px 35px 59px 35px;
    border: 1px solid transparent;
    border-radius: 8px;
}

@media screen and (max-width:576px) {
    .fact{
   
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        margin: auto auto;
        
    }

    .fact-txt > p {
        width: 90%;
        font-size: 14px;
        font-weight: 400;
    }

    .fact-boxes{
        display: flex;
        flex-direction:column;
        /* align-items: center;
        justify-content: center; */
        gap: 30px;
        margin: auto auto;
    }

    .outer-box{
        width: 60%;
        height: 60%;
        border-radius: 4px;
        border: 1px solid #FF900E;
        transition: box-shadow .3s;
    }

    .outer-box:hover{
        box-shadow: 5px 5px #333;
    }

    .inner-box{
        display: flex;
        flex-direction: column;
        /* gap: 5px; */
        /* justify-content: center; */
        align-items: center;
        width: 25%;
        height: 30%;
        margin: auto auto auto auto;
        border: 1px solid transparent;
        border-radius: 8px;
    }
    
}

/* .inner-box h1{
    font-size: 45px;

} */

/* fourth parent flexbox css ****Our Recent Projects */ 

.our-recent-projects{
    margin: 100px 240px;
}

.recent-works{
    display: flex;
    justify-content: space-between;
    /* margin: 100px 240px; */
}

.recent-works > article{
    border: 1px solid #e2e2e2;
    border-radius: 8px;
    width: 40%;
    padding: 20px 20px;
    height: fit-content;
}

@media screen and (max-width: 576px) {
    .our-recent-projects{
        margin: auto auto;
    }

    .recent-works{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: space-between;
        /* margin: 100px 240px; */
    }

    .recent-works > article{
        border: 1px solid #e2e2e2;
        border-radius: 8px;
        width: 60%;
        padding: 20px 20px;
        height: fit-content;
        
        margin: auto auto;
    }

    
    
}

/*.... Sponsorships css.... */
.sponsors{
    margin: 180px 240px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.sponsor-txt{
    width: 542px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sponsor-img{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 155.17px;
    /* justify-content: space-around; */
}

/* grey image  */

.sponsor-img > img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

@media screen and (max-width: 576px) {

    .sponsors{
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .sponsor-txt{
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .sponsor-img{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 100px;
        /* justify-content: space-around; */
    }
    
}

/* footer css */

footer{
    margin: 130px 240px;
    border: 1px solid transparent;
    border-radius: 8px;
    width: 1440px;
    height: 100px;
    background-color: #FFF4E7;
    text-align: center;
    
}

footer > p{
    padding: 38px 410px 38px 410px;
}

@media screen and (max-width: 576px) {
    
    footer{
        margin: 40px auto;
        border: 1px solid transparent;
        border-radius: 8px;
        width: 100%;
        height: 100px;
        background-color: #FFF4E7;
        text-align: center;
        
    }

    footer p{
        /* padding: auto auto; */
        font-size: 10px;
        color: #333;
    }
}